---
import PropertyCard from './PropertyCard.astro';
import data from '../../data/new.json';
---

<div id='apartmentsList' class='list'>
  {data.apartments.map((apartment) => <PropertyCard {apartment} />)}
</div>
