---
import '@css/components/CitySearch/Results.css';
import PropertyList from '@components/CitySearch/PropertyList/PropertyList.astro';
import SearchControls from '@components/CitySearch/SearchControls.astro';
const searchQuery = Astro.props;
---

<div class='results'>
  <section class='heading'>
    <h1 class='title-name'>Explore Calgary Rentals</h1>

    <div class='flex-row'>
      <h2 class='resultsFound'>
        Showing 40 Matching Properties</h2>

      <div class='form-group has-custom-select refine-select'>
        <label class='hide' for='refine'>refine</label>
        <select name='refine' id='refine' class='custom-select'>
          <option value=''>Refine</option>
          <option value=''>Lowest - Hightest</option>
          <option value=''>Alphabetical</option>
        </select>
      </div>
    </div>

    <SearchControls />
  </section>

  <div class='listWrapper'>
    <PropertyList />
  </div>
</div>
