---
import './src/assets/css/components/CitySearch/Filter.css';
---

<div class='filter'>
  <form id='property-filter' action='href' method='GET'>
    <h2>Search</h2>

    <!-- {# City #}  -->
    <div class='form-group has-custom-select'>
      <select name='city' id='city' class='custom-select' required>
        <option class='selectOption'>Select...</option>
        <option selected value='calgary'>Calgary</option>
        <option value='edmonton'>Edmonton</option>
        <option value='red_deer'>Red Deer</option>
      </select>
      <label for='city'>City *</label>
    </div>

    <!-- {# Pricing #}  -->
    <div class='form-control has-custom-select'>
      <select name='price' id='price' class='custom-select'>
        <option value='any'>Any</option>
        <option value='2-bathroom'> 500</option>
        <option value='2-bathroom'> 1000</option>
        <option value='2-bathroom'> 1500</option>
      </select>
      <label for='price'>Price:</label>
    </div>

    <!-- {# Bedrooms #} -->
    <div class='form-control has-custom-select'>
      <select name='bed' id='bed' class='custom-select'>
        <option value='' class='selectOption'>Select ...</option>
        <option value='1-bathroom'>Bachelor</option>
        <option value='1-bathroom'>1 Bedrooms</option>
        <option value='2-bathroom'>2 Bedrooms</option>
        <option value='3--bathroom'>3+ Bedrooms</option>
      </select>
      <label for='bed'>Bedrooms</label>
    </div>

    <!-- {# Bathrooms #} -->
    <div class='form-control has-custom-select'>
      <select name='bath' id='bath' class='custom-select'>
        <option value='' class='selectOption'>Select ...</option>
        <option value='1-bathroom'>1 Bathroom</option>
        <option value='2-bathroom'>2 Bathroom</option>
        <option value='3--bathroom'>3+ Bathroom</option>
      </select>
      <label for='bed'>Bathrooms</label>
    </div>

    <!-- {# Square footage #}  -->
    <div class='form-control has-custom-select'>
      <select name='bath' id='bath' class='custom-select'>
        <option value='' class='selectOption'>Select ...</option>
        <option value='any'>Any</option>
        <option value='2-bathroom'> 500</option>
        <option value='2-bathroom'> 1000</option>
        <option value='2-bathroom'> 1500</option>
      </select>
      <label for='sqft'>Min SQFT:</label>
    </div>

    <!-- {# Housetype #}  -->
    <div class='form-group has-custom-select'>
      <select name='type' id='type' class='custom-select'>
        <option value='' class='selectOption'>Select ...</option>
      </select>
      <label for='type'>Housing Type</label>
    </div>

    <!-- {# pet_friendly #}  -->
    <div class='form-group radio-buttons'>
      <fieldset id='pets' class='form-check'>
        <div class='form-control'>
          <input
            class='form-check-input'
            type='radio'
            name='pets'
            id='yes'
            value='yes'
          />
          <label class='form-check-label' for='yes'>Yes</label>
        </div>
        <div class='form-control'>
          <input
            class='form-check-input'
            type='radio'
            name='pets'
            id='no'
            value='no'
          />
          <label class='form-check-label' for='no'>No</label>
        </div>
      </fieldset>
      <legend>Pet Friendly</legend>
    </div>
    <div class='search-reset'>
      <button
        id='reset'
        class='btn-flat reset_button'
        type='reset'
        value='Reset'>Reset</button
      >
      <button
        type='submit'
        id='search'
        value='submit'
        class='btn-flat search_option_button'>Search</button
      >
    </div>
  </form>
</div>

<style>
  .has-custom-select .custom-select:focus + label {
    font-weight: 600;
  }
</style>

<script>
  // Select all elements with class custom-select
  const customSelects = document.querySelectorAll('.custom-select');

  // Add event listener to each custom select
  customSelects.forEach((select) => {
    select.addEventListener('change', (e) => {
      const selectedOption = e.target.options[e.target.selectedIndex];
      const label = e.target.nextElementSibling;
      label.textContent = selectedOption.textContent;
    });
  });

  // Add event listener to the search button
  const searchButton = document.getElementById('search');
  if (searchButton) {
    searchButton.addEventListener('click', (e) => {
      e.preventDefault();
      const form = document.getElementById('property-filter');
      const formData = new FormData(form);
      const searchParams = new URLSearchParams(formData);
      const searchQuery = searchParams.toString();
      const actionUrl = '?' + searchQuery; // Adjust this URL according to your endpoint
      form.setAttribute('action', actionUrl); // Set the action attribute of the form
      form.submit(); // Submit the form
    });
  }
</script>
