---
import Layout from '../layouts/Layout.astro';
import HeroImageBanner from '../components/HeroImageBanner.astro';
import CitySearchLayout from '../components/CitySearchLayout.astro';
---

<style is:inline></style>

<Layout title=''>
  <main id='main-content' class='body-container-wrapper'>
    <div class='CitySearch-page'>
      <section>
      <!-- heroImageBanner  -->
        <HeroImageBanner />
      </section>

      <!--  citySearchLayout  -->
      <CitySearchLayout />
    </div>
  </main>
</Layout>
