<!--
  templateType: "page"
  label: "Bwalk - City Search"
  screenshotPath: "../images/preview-images/homepage.jpg"
  isAvailableForNewContent: true
-->

{% set properties = crm_objects("properties","limit=100&offset=0","property_name,unique_page_slug,property_featured_image,lowest_rent,location_latitude,location_longitude,hs_object_id") %}

{% block template_stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ get_asset_url('../css/page/citySearch.css') }}">
{% endblock template_stylesheets %}



{% extends './layouts/base.html' %}

{% block body %}
  <main id="main-content" class="body-container-wrapper citySearch">
  <div id="testHenry"></div>
 {# Property List #}
        <ul class="list">
          
            {% for property in properties.results %}

            {% set property_id = property.hs_object_id %}    
            {% set associated_suites = crm_associations(property_id,"USER_DEFINED", 35, "limit=100&orderBy=number_of_beds", "description,number_of_beds,is_available,number_of_available_suite,bathrooms_min,bathrooms_max, rent_min, rent_max,security_deposit_charge_policy,security_deposit_min,security_deposit_max,square_feet_min,square_feet_max,has_incentive_offers,is_for_seniors,bpms_suite_type_group_id,bpms_category_id"  ) %}
            {% set suiteGrouping = associated_suites.results|groupby("bpms_suite_type_group_id") %}  

            <li>
              
              <div class="card">

                <div class="featured-pin">
                  {% if !module.suite_details.has_featured_flag %}
                  <div class="featured-tag">
                    <div class="isfeatured">featured</div>
                  </div>
                  {% endif %} 

                  {% set sum = loop.index0 + 1 %}
                  <div class="map-marker" data-loc="{{ sum }}">
                    <a herf="#">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/></svg>
                    </a>
                  </div> 
                </div>
                <a href="//hubspot-developers-665unv-20852411.hs-sites.com/apartments-for-rent/{{ property.unique_page_slug }}">
                  <h4>{{ property.property_name }}</h4>
                </a>
                <div class="">property_type</div>
                <div class="price-starting">starting_from {{ property.lowest_rent }}</div>
                
{# Availability #}          
                {% for group in suiteGrouping %}
                  {% if group.grouper == 1 %}  
                  {% set suiteGroup = "1 Bedroom" %} 
                  {% elif group.grouper == 2 %}
                  {% set suiteGroup = "2 Bedroom" %}  
                  {% elif group.grouper == 3 %}
                  {% set suiteGroup = "3 Bedroom" %} 
                  {% elif group.grouper == 4 %}
                  {% set suiteGroup = "4 Bedroom" %} 
                  {% elif group.grouper == 5 %}
                  {% set suiteGroup = "Bachelor" %} 
                  {% elif group.grouper == 6 %}
                  {% set suiteGroup = "1 1/2 Rooms" %} 
                  {% elif group.grouper == 7 %}
                  {% set suiteGroup = "3 1/2 Rooms" %} 
                  {% elif group.grouper == 8 %}
                  {% set suiteGroup = "4 1/2 Rooms" %} 
                  {% elif group.grouper == 9 %}
                  {% set suiteGroup = "5 1/2 Rooms" %} 
                  {% else group.grouper == 10 %}
                  {% set suiteGroup = "6 1/2 Rooms" %}      
                  {% endif %}   

                  {% set count =  0 %}
                  {% for suite in group.list %}

                    {% set count = count|add(suite.number_of_available_suite) %}
                    {% if loop.index == group.list|length %}

                      {% if count > 0 %}
                        {% if count == 1 %}
                        {% set availability = "1 Suite Available" %}
                        {% elif count == 2 %}
                        {% set availability = "2 Suite Available" %}
                        {% elif count == 3 %}
                        {% set availability = "3 Suite Available" %}
                        {% elif count > 3 %}
                        {% set availability = "Available" %}
                        {% endif %}       
                      {% else %}
                        {% set availability = "Waiting List" %}
                      {% endif %}    

                      <div class="availability">{{ suiteGroup }}: {{availability}} - {{count}}</div>
                    {% endif %}  
                  {% endfor %}
                {% endfor %} 

                <a href="//hubspot-developers-665unv-20852411.hs-sites.com/apartments-for-rent/{{ property.unique_page_slug }}">
                  {% if property.property_featured_image %}
                  <img class="property-image" src="{{ property.property_featured_image }}" alt="{{ property.property_name }}" load="lazy">
                  {% else %}
                  <img class="property-image" src="https://21895282.fs1.hubspotusercontent-na1.net/hubfs/21895282/Demo%20Media/Search%20Images/The%20Edge.jpg" alt="{{ property.property_name }}" load="lazy">
                  {% endif %}
                </a>

                <div class="button-save">
                  <a href="//hubspot-developers-665unv-20852411.hs-sites.com/apartments-for-rent/{{property.unique_page_slug}}" class="btn btn-primary">Explore Community</a>

                 <label class="addtoFavourites" for="addToFavs" data-property-id="2412896810">
                    <input type="checkbox" id="addToFavs" class="addToFavs-toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="heart-notsaved" viewBox="0 0 512 512"><path d="M244 84L255.1 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 0 232.4 0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84C243.1 84 244 84.01 244 84L244 84zM255.1 163.9L210.1 117.1C188.4 96.28 157.6 86.4 127.3 91.44C81.55 99.07 48 138.7 48 185.1V190.9C48 219.1 59.71 246.1 80.34 265.3L256 429.3L431.7 265.3C452.3 246.1 464 219.1 464 190.9V185.1C464 138.7 430.4 99.07 384.7 91.44C354.4 86.4 323.6 96.28 301.9 117.1L255.1 163.9z"/></svg>
                    <svg version="1.0" class="heart-saved" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><g id="Heart1_layer"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></g></svg>
                    <div class="text">save</div>
                  </label>
                </div>

              </div>

            </li>
         {% endfor %}    

        </ul>
  </main>
 

{% endblock body %}

{% block script %}
  <script>
    $(document).ready(function() {
      $.ajax({
        url: "https://hubspot-developers-665unv-20852411.hs-sites.com/_hcms/api/getAllProjectsWithSuiteTypes",
        type: "GET",
        success: function(data) {
          {% set test = data[0].name %}
          $('#testHenry').html("{{test}}");
          console.log(data[0].name);
          console.log(data);
        },
        error: function(error) {
          console.error(error);
        }
      });
    });


    $('.filterToggle').click(function() {
      $('.filter').toggleClass('open');
    });
    $('.mapToggle').click(function() {
      $('.container').toggleClass('open');
    });
  </script>
{% endblock script %}


