---
import './src/assets/css/page/citySearch.css';
import SearchResults from './CitySearch/SearchResults.astro';
import SearchFilter from './CitySearch/SearchFilter.astro';
import Map from './CitySearch/Map.astro';

//import SearchResults from './src/components/CitySearch/SearchResults.astro';
//import SearchFilter from './src/components/CitySearch/SearchFilter.astro';
//import Map from './src/components/CitySearch/Map.astro';

const { layout } = Astro.props;
const page_layout = layout;
---

<div class=`container ${page_layout}`>
  <SearchResults />
  <SearchFilter />
  <Map />
</div>
