---
import '@assets/css/page/citySearch.css';
import SearchResults from '@components/CitySearch/SearchResults.astro';
import SearchFilter from '@components/CitySearch/SearchFilter.astro';
import Map from '@components/CitySearch/Map.astro';
const page_layout = 'fml';
---

<div class=`container ${page_layout}`>
  <SearchResults />
  <SearchFilter />
  <Map />
</div>

<script is='inline'></script>
