<div class="jewelBar"></div>

<style>
.jewelBar{
  width: 100%;
  min-height: 1.75em;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px;
  background-image: url(https://21895282.fs1.hubspotusercontent-na1.net/hubfs/21895282/jewel_bar-divider.svg) !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

</style>