/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

/* {# Mobile Menu #} */
.mobileMenu-toggle,
.mobileMenu-button {
  display: none;
}

@media only screen and (max-width: 1020px) {

  .mobileMenu-button {
    font-size: 0.7em;
    border-radius: 100%;
    cursor: pointer;
    height: 2.25em;
    width: 2.25em;
    position: absolute;
    top: 2.35em;
    right: calc(var(--page-pd) + 1em);
    text-align: center;
    transform: scale(1.1) translateZ(0);
    transition: transform .2s ease-out;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    z-index: 2;
    display: block;
  }

  .lines {
    background: #fff;
    display: block;
    height: 0.3em;
    left: 50%;
    margin-left: -1em;
    margin-top: -0.2em;
    position: absolute;
    top: 50%;
    transition: transform .2s;
    width: 2em;
  }

  .line-1 {
    transform: translate3d(0,-0.75em, 0);
  }
  .line-2 {
    transform: translate3d(0, 0, 0);
  }
  .line-3 {
    transform: translate3d(0,0.75em, 0);
  }
  .mobileMenu-toggle:checked + .mobileMenu-button .line-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .mobileMenu-toggle:checked + .mobileMenu-button .line-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .mobileMenu-toggle:checked + .mobileMenu-button .line-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  .mobileMenu-button .label {
    position: absolute;
    bottom: -1.27em;
    left: -0.7em;
    font-family: 'Montserrat';
    font-size: 1.44em;
  }
  nav {
    display: none!important;
  }
  .mobileMenu-toggle:checked ~ nav {
    display: flex!important;
  }

  .mobileMenu-toggle:checked ~ .rm-login {
    display: block;
    position: absolute;
    bottom: calc(var(--header-h) - 100vh + 4em);
    left: 0;
    right: 0;
    font-size: 1.43em;
  }
  
}
