---
const { apartment } = Astro.props;

---

<div class='carousel'>
  {
    apartment.images.map((image) => {
      const active = apartment.images[0] === image ? 'active' : '';
      return <picture class={active}>
          <img src=`https://loremflickr.com/758/480/realestate?random=${image}` />
        </picture>;
    })
  }

  <div class='arrows'>
    <div class='arrow prev'>
      <i class='fas fa-chevron-left fa-2x'></i>
    </div>
    <div class='arrow next'>
      <i class='fas fa-chevron-right fa-2x'></i>
    </div>
  </div>

  <div class='dots'>
    {
      apartment.images.map((image) => {
        const active = apartment.images[0] === image ? 'active' : '';
        return <div class=`dot ${active}`></div>;
      })
    }
  </div>
</div>

<style is:inline>
  .carousel picture:not(.active) {
    display: none !important;
  }
</style>